<%- include('partials/header'); %>
<section class="section-touapp">
  <h2 class="heading-2 section-touapp__title">Credits</h2>
  <p>
    This website is designed by me and coded by me both front and backend. Some
    resources are used such as photos from Pixabay.com. For Icons Linea Icon
    font is used.
  </p>
</section>
<%- include('partials/footer'); %>
